<p id="notice"><%= notice %></p>


<div class="container">
  <h1 >Universities</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>no#</th>
        <th>Univerity name </th>
        <th>City name </th>
        <th>Faculty members </th>
        <th>Total students </th>

      </tr>
    </thead>
    <tbody>
      <% @universities.each do |university| %>
      <tr>
        
        <td> <%= @num %></td>
        <td><%= university.name %></td>
        <td><%= university.city %></td>
        <td><%= university.faculty_members %></td>
        <td><%= university.total_students %></td>
        <td><%= link_to 'Show', university, class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_university_path(university), class: "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', university, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
        <%@num = @num+1%>
     <% end %>

    </tbody>
  </table>
  <%= link_to 'New University', new_university_path, class: "btn btn-primary" %>
</div>



<div class="container">
  <p id="play">ok</p>
  <script >
    document.getElementById("play").innerHTML = "Lets play with JavaScript"
  </script>

  <p id="try">Using button</p>
  <script >
    function myFunction(){
      document.getElementById("try").innerHTML = "Inside the function"
    }
  </script>
  <button type="button" onclick = "myFunction()" class="btn btn-info">Press</button>
  <br>

 <!--  <script >
    document.write(6+6)
  </script> -->
  <br>
  <!-- <script >
    window.alert(10+5)
  </script>
  <script >
    alert(5+1)
  </script> -->

  <script >
    console.log(12+6)
  </script>
  <p id="cr"></p>
  <p id="rcr"></p>
  <p id="scr"></p>
  <script >
    var cars = ["Audi","Toyota","Prius","Suzuki"]
    document.getElementById("cr").innerHTML = cars;
  </script>
  <script >
    cars.reverse();
    document.getElementById("rcr").innerHTML = cars;
  </script>
  <script >
    cars.sort();
    document.getElementById("scr").innerHTML = cars;
  </script>
  <p id="n2"></p>

  <script >
    const numbers1 = [45, 4, 9, 16, 25];
    const numbers2 = numbers1.map(myFunction);

    document.getElementById("n2").innerHTML = numbers2;

    function myFunction(value) {
    return value * 3;
}
  </script>
  <p id="fl"></p>
  <script>
    var number1 = [15,14,13,12,11,16,17,18,19];
    var number2 = number1.filter(myFunc);
    document.getElementById("fl").innerHTML = number2;

    function myFunc(value, index,array){
      value =value * 2;
      return value>30
    }
  </script>
  <p id="d"></p>
  <script >
    var date = new Date()
    document.getElementById("d").innerHTML = date;
  </script>
   <p id="da"></p>
  <script >
    var date = new Date()
    document.getElementById("da").innerHTML = date.getFullYear();
  </script>

  <p id="set"></p>
  <script >
    var setV = new Set(["a","b","c"]);
    document.getElementById("set").innerHTML = setV.size;

    setV.add("d");
    document.getElementById("set").innerHTML = setV;
  </script>

  <p id="debug"></p>
  <script >
    var x = 18*2;
    document.getElementById(debug).innerHTML = x;

  </script>
  <div onmouseover="mOver(this)" onmouseout="mOut(this)" style="background-color:#D94A38;width:120px;height:20px;padding:40px;">Mouse!</div>
  <script >
    function mOver(obj){
      obj.innerHTML = "Thanks"
    }
    function mOut(obj){
      obj.innerHTML = "Bye"
    }
  </script>




</div>


